*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p, select {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

button, input[type=submit] {
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 5px;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
}