.UserLifts {
    display: grid;
    row-gap: 0.5rem;
    padding: 0 0.5rem;
    padding-bottom: 3rem;
}

.UserLifts_header {
    font-size: 1.3rem;
}

.UserLifts_filterContainer {
    display: flex;
    gap: 0.5rem;
}

.UserLifts_liftsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    text-align: center;
}