.UserLifts {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0 0.5rem;
}

.UserLifts_header {
    font-size: 1.3rem;
}

.UserLifts_filter:hover {
    background-color: #118190;
}

.UserLifts_active {
    background-color: #118190;
}

.UserLifts_filterContainer {
    display: flex;
    gap: 0.5rem;
}

.UserLifts_liftsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .UserLifts_liftsContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}