.CommunityTable {
    display: grid;
    padding: 0.5rem;
    width: 100%;
}

.CommunityTable_container {
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.CommunityTable_header {
    text-align: left;
    color: #fcdb2d;
    font-weight: 400;
}

.CommunityTable_table {
    display: grid;
    gap: 0.5rem;
}

.CommunityTable_tableHeaders {
    display: grid;
    grid-template-columns:  1fr 6fr repeat(4, 3fr);
    padding: 0.5rem;
}

@media screen and (min-width: 850px) {
    
    .CommunityTable {
        padding: 2rem 10%;
    }
    
}