.VerifyForm {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    padding-bottom: 6rem;
}

.VerifyForm_form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.VerifyForm_urlInputContainer {
    display: grid;
}

.VerifyForm_urlInput {
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px grey;
}

.VerifyForm_buttonSelectContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border: solid 1px grey;
    border-radius: 5px;
}

.VerifyForm_numberButton {
    padding: 0.5rem 2rem;
    border: none;
}

.VerifyForm_weightInput,
.VerifyForm_repsInput {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
}

.VerifyForm_repsInput:focus-visible {
    outline: none;
}

.VerifyForm_submitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.VerifyForm_submitButton,
.VerifyForm_cancelButton {
    padding: 0.5rem;
}