.VerifyForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    padding-bottom: 6rem;
}

.VerifyForm_form {
    display: grid;
    gap: 0.5rem;
    border: solid 1px #FFFFFF30;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color:#26426460;
    backdrop-filter: blur(10px);
}

.VerifyForm_urlInputContainer {
    display: grid;
}

.VerifyForm_urlInput {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #264264;
    backdrop-filter: blur(10px);
    border: none;
    font-size: 1rem;
    color:#FFFFFF;
    max-width: 262px;
}

.VerifyForm_buttonSelectContainer {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #264264;
    backdrop-filter: blur(10px);
}

.VerifyForm_numberButton {
    padding: 0.5rem 2rem;
    border: none;
}

.VerifyForm_numberButton:hover {
    cursor: pointer;
    background-color: #FFFFFF30;
}

.VerifyForm_weightInput,
.VerifyForm_repsInput {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
}

.VerifyForm_repsInput:focus-visible {
    outline: none;
}

.VerifyForm_submitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.VerifyForm_submitButton,
.VerifyForm_cancelButton {
    padding: 0.5rem;
    background-color: #118190;
    border-radius: 5px;
    border: solid 1px #FFFFFF30;
    font-size: 1rem;
}

.VerifyForm_submitButton:hover,
.VerifyForm_cancelButton:hover {
    cursor: pointer;
    border: solid 1px #FFFFFF;
}

@media screen and (min-width:500px) {
    .VerifyForm_urlInput {
        max-width: none;
    }
}