.VerifyForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    padding-bottom: 6rem;
}

.VerifyForm_form {
    display: grid;
    gap: 0.5rem;
    border: solid 1px #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.3);
    backdrop-filter: blur(10px);
}

.VerifyForm_urlInputContainer {
    display: grid;
}

.VerifyForm_urlInput {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.6);
    backdrop-filter: blur(10px);
    border: none;
    font-size: 1rem;
    color:#FFFFFF;
}

.VerifyForm_buttonSelectContainer {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.6);
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.VerifyForm_numberButton {
    padding: 0.5rem 2rem;
    border: none;
}

.VerifyForm_weightInput,
.VerifyForm_repsInput {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
}

.VerifyForm_repsInput:focus-visible {
    outline: none;
}

.VerifyForm_submitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.VerifyForm_submitButton,
.VerifyForm_cancelButton {
    padding: 0.5rem;
    background-color: #00171f;
    border-radius: 5px;
    border: solid 1px #00171f;
    font-size: 1rem;
    margin-top: 0.5rem;
}