.Profile {
    padding: 0 0.5rem;
    padding-bottom: 3rem;
}

.Profile_container {
    display: grid;
    row-gap: 0.5rem;
}

.Profile_headerContainer {
    display: flex;
    gap: 0.5rem
}

.Profile_headerContainer:hover {
    cursor: pointer;
    width: fit-content;
}

.Profile_headerContainer:hover > * {
    color: #118190;
    fill: #118190;
}

.Profile_header {
    font-size: 1.3rem;
}

.Profile_headerSvg {
    width: 1rem;
    fill: #FFFFFF;
}

.Profile_rowContainer {
    display: flex;
    justify-content: space-between;
}

.Profile_buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.Profile_button {
    padding: 0.5rem;
    background-color: #118190;
    border-radius: 5px;
    border: solid 1px #FFFFFF30;
    font-size: 1rem;
}