.Profile {
    padding: 0 0.5rem;
    padding-bottom: 3rem;
}

.Profile_container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.Profile_header {
    font-size: 1.3rem;
}

.Profile_rowContainer {
    display: flex;
    justify-content: space-between;
}

.Profile_buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.Profile_button {
    padding: 0.5rem;
    background-color: #118190;
    border-radius: 5px;
    border: solid 1px #FFFFFF30;
    font-size: 1rem;
}