.SubmitLiftForm {
    gap: 0.5rem;
    padding: 0 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.SubmitLiftForm_form {
    display: grid;
    gap: 0.5rem;
    border: solid 1px #FFFFFF30;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #26426460;
    backdrop-filter: blur(10px);
}

.SubmitLiftForm_header {
    text-align: center;
    font-size: 1.5rem;
}

.SubmitLiftForm_inputContainer {
    display: grid;
    grid-template-columns: 1fr;
}


.SubmitLiftForm_liftOptionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.SubmitLiftForm_liftOption {
    padding: 0.5rem 0;
    background-color: #264264;
    backdrop-filter: blur(10px);
    border: solid 1px transparent;
    font-size: 1rem;
}

.SubmitLiftForm_liftOption:hover {
    border: solid 1px #FFFFFF;
}

.SubmitLiftForm_liftSelected {
    border: solid 1px #FFFFFF;
}

.SubmitLiftForm_selectionContainer {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #264264;
    backdrop-filter: blur(10px);
}

.SubmitLiftForm_numberButton {
    padding: 0.5rem 2rem;
    border: none;
}

.SubmitLiftForm_numberButton:hover {
    background-color: #FFFFFF30;
}

.SubmitLiftForm_weightInput,
.SubmitLiftForm_repsInput {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
}

.SubmitLiftForm_repsInput:focus-visible {
    outline: none;
}

.SubmitLiftForm_submitButton {
    padding: 0.5rem;
    background-color: #118190;
    border-radius: 5px;
    border: solid 1px #FFFFFF30;
    font-size: 1rem;
}

.SubmitLiftForm_submitButton:hover {
    border: solid 1px #FFFFFF
}