.SubmitLiftForm_form {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.SubmitLiftForm_header {
    text-align: center;
    font-size: 1.5rem;
}

.SubmitLiftForm_inputContainer {
    display: grid;
    grid-template-columns: 1fr;
}


.SubmitLiftForm_liftOptionsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.SubmitLiftForm_liftOption {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.SubmitLiftForm_liftSelected {
    background-color: blue;
}

.SubmitLiftForm_selectionContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border: solid 1px grey;
    border-radius: 5px;
}

.SubmitLiftForm_numberButton {
    padding: 0.5rem 2rem;
    border: none;
}

.SubmitLiftForm_weightInput,
.SubmitLiftForm_repsInput {
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
}

.SubmitLiftForm_repsInput:focus-visible {
    outline: none;
}

.SubmitLiftForm_submitButton {
    padding: 1rem;
}