.RegisterForm {
    padding: 0 0.5rem;
}

.RegisterForm_form {
    display: grid;
    place-content: center;
    gap: 0.5rem;
}

.RegisterForm_header {
    text-align: center;
}

.RegisterForm_inputContainer {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}