.RegisterForm {
    padding: 0 1rem;
}

.RegisterForm_form {
    display: grid;
    gap: 0.5rem;
    border: solid 1px #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.3);
    backdrop-filter: blur(10px);
}

.RegisterForm_header {
    text-align: center;
}

.RegisterForm_inputContainer {
    display: grid;
}

.RegisterForm_input {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.6);
    backdrop-filter: blur(10px);
    border: none;
    font-size: 1rem;
    color:#FFFFFF;
}

.RegisterForm_formSectionContainer {
    display: grid;
    border-radius: 5px;
}

.RegisterForm_label {
    font-size: 1rem;
}

.RegisterForm_selectBorder {
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.6);
    backdrop-filter: blur(10px);
}

.RegisterForm_numberButton {
    padding: 0.5rem 2rem;
    border: none;
}

.RegisterForm_buttonSelectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RegisterForm_setTextContainer {
    display: flex;
}


.RegisterForm_numberInput,
.RegisterForm_repsInput {
    width: 3rem;
    text-align: center;
    border: none;
    font-size: 1rem;
    background-color: transparent;
}

.RegisterForm:focus-visible {
    outline: none;
}

.RegisterForm_repsInput:focus-visible {
    outline: none;
}

.RegisterForm_text {
    text-align: center;
    font-size: 1rem;
}

.RegisterForm_sexButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.RegisterForm_sexButton {
    padding: 0.5rem 0;
    background-color: rgb(0, 126, 167, 0.6);
    backdrop-filter: blur(10px);
    border: solid 1px transparent;
    font-size: 1rem;
}

.RegisterForm_sexSelected {
    border: solid 1px #00a8e8;
    color: #00a8e8;
    background-color: #003459;
}

.RegisterForm_submitButton {
    padding: 0.5rem;
    background-color: #00171f;
    border-radius: 5px;
    border: solid 1px #00171f;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.RegisterForm_error {
    color: red;
}