.UserRank {
    display: grid;
    place-content: center;
}

.UserRank_header {
    text-align: center;
    font-size: 1.5rem;
}

.UserRank_rankContainer {
    display: grid;
    text-align: center;
}

.UserRank_image {
    width: clamp(10rem, 50vw, 20rem);
    justify-self: center;
}

.UserRank_rankTextContainer {
    display: flex;
    place-content: center;
    gap: 0.2rem;
}

.UserRank_select {
    border: none;
    font-size: 1rem;
}

.UserRank_text {
    text-align: center;
}

.UserRank_rankBarContainer {
    height: 1rem;
    width: 100%;
    border: solid 1px grey;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

}

.UserRank_rankBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    background-color: teal;
}

.UserRank_sex {
    margin-top: 0.5rem;
}

.UserRank_liftsSection {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.UserRank_liftContainer {
    display: grid;
    text-align: center;
}

.UserRank_svgIcon {
    width: 4rem;
    height: auto;
}

.UserRank_svgIcon > path {
    fill: black;
}

.UserRank_buttonContainer {
    margin-top: 1rem;
    text-align: center;
}

.UserRank_button {
    padding: 0.5rem;
}

/*User Weight Item Styling*/

.UserWeightItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-self: center;
    gap: 1rem;
}

.UserWeightItem_buttonContainer {
    display: flex;
    gap: 0.5rem;
}

.UserWeightItem_button {
    border: solid 1px #000000;
    height: auto;
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 5px;
}

.UserWeightItem_input {
    width: 3rem;
    text-align: center;
    place-self: center;
    font-size: 1rem;
    background-color: transparent;
}

.UserWeightItem_button:hover {
    cursor: pointer;
    background-color: blue;
    color: #FFFFFF;
}

.UserWeightItem_weightContainer {
    display: grid;
    text-align: center;
}

.UserWeightItem_svgIcon {
    width: 4rem;
    height: auto;
}

.UserWeightItem_svgIcon > path {
    stroke: black;
    stroke-width: 2;
}

