.UserRank {
    display: grid;
    place-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.UserRank_topRankSection {
    border: solid 1px #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.3);
    backdrop-filter: blur(10px);
}

.UserRank_header {
    text-align: center;
    font-size: 1.5rem;
}

.UserRank_rankContainer {
    display: grid;
    text-align: center;
}

.UserRank_image {
    width: clamp(10rem, 50vw, 20rem);
    justify-self: center;
}

.UserRank_rankTextContainer {
    display: flex;
    place-content: center;
    gap: 0.2rem;
}

.UserRank_select {
    border: none;
    font-size: 1rem;
    background-color: transparent;
}

.UserRank_select > option {
    color: #00171f;
}


.UserRank_text {
    text-align: center;
}

.UserRank_rankBarContainer {
    height: 1rem;
    width: 100%;
    border: solid 1px #FFFFFF;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

}

.UserRank_rankBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    background-color: #00a8e8;
}

.UserRank_sexWeightContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.UserRank_sex{
    display: grid;
    font-size: 0.9rem;
    align-self: center;
}

.UserRank_liftsSection {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.UserRank_liftContainer {
    display: grid;
    text-align: center;
    padding: 0.5rem 1rem;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    background-color: rgb(0, 126, 167, 0.6);
    backdrop-filter: blur(10px);
}

.UserRank_svgIcon {
    width: 4rem;
    height: auto;
}

.UserRank_svgIcon > path {
    fill: #ffffff;
}

.UserRank_buttonContainer {
    margin-top: 1rem;
    text-align: center;
}

.UserRank_button {
    padding: 0.5rem;
    background-color: #00a8e8;
    border-radius: 5px;
    border: solid 1px #00171f;
    font-size: 1rem;
}

/*User Weight Item Styling*/

.UserWeightItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-self: center;
    gap: 1rem;
}

.UserWeightItem_buttonContainer {
    display: flex;
    gap: 0.5rem;
}

.UserWeightItem_button {
    height: auto;
    font-size: 0.9rem;    
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    padding: 0.2rem;
}

.UserWeightItem_input {
    width: 3rem;
    text-align: center;
    place-self: center;
    font-size: 1rem;
    background-color: transparent;
}

.UserWeightItem_button:hover {
    cursor: pointer;
    background-color: blue;
    color: #FFFFFF;
}

.UserWeightItem_weightContainer {
    /* display: flex;
    gap: 0.5rem;
    font-size: 0.9rem; */
    display: grid;
    font-size: 0.9rem;
}

.UserWeightItem_svgIcon {
    width: 4rem;
    height: auto;
}

.UserWeightItem_svgIcon > path {
    stroke: #FFFFFF;
    stroke-width: 2;
}

