.AdminPage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 0.5rem;
    background: #181f1f;
    background: radial-gradient(circle, #181f1f 0%, #050607 100%);
}