.LandingPage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    min-height: 100vh;
    box-sizing: border-box;
}

.LandingPage_main {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}