.ProfilePage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    min-height: 100vh;
    background: #181f1f;
    background: radial-gradient(circle, #181f1f 0%, #050607 100%);
}

.ProfilePage_main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
    max-width: 1600px;
    margin: 0 auto;
}

@media screen and (min-width: 850px) {
    .ProfilePage_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}