.LoginForm {
    padding: 0.5rem 1rem;
}

.LoginForm_form {
    display: grid;
    gap: 0.5rem;
}

.LoginForm_header {
    text-align: center;
}

.LoginForm_inputContainer {
    display: grid;
}

.LoginForm_input {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: solid 1px #FFFFFF;
    font-size: 1rem;
    color:#FFFFFF;
}

.LoginForm_submitButton {
    padding: 0.5rem;
    background-color: #00a8e8;
    border-radius: 5px;
    border: solid 1px #00171f;
    font-size: 1rem;
    margin-top: 0.5rem;
}