.LoginForm {
    padding: 0.5rem;
}

.LoginForm_form {
    display: grid;
    place-content: center;
    gap: 0.5rem;
}

.LoginForm_header {
    text-align: center;
}

.LoginForm_inputContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}