.LifterItem {
    display: grid;
    grid-template-columns: 1fr 6fr repeat(4, 3fr);
    border: solid 1px grey;
    border-radius: 5px;
    padding: 0.5rem;
}

.LifterItem_text {
    font-size: 0.8rem;
}
