.VerifyActions {
    display: grid;
    padding: 1rem;
    gap: 0.5rem;
}

.VerifyActions_verifyButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.VerifyActions_verifyButton {
    padding:0;
}

.VerifyActions_svg {
    width: 7rem;
    fill: black;
}

.VerifyActions_scale > path {
    stroke: black;
    stroke-width: 1;
}