.CommunityPage {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 0.5rem;
    background: rgb(0,52,89);
    background: radial-gradient(circle, rgba(0,52,89,1) 0%, rgba(0,23,31,1) 100%);
}