.UserLiftItem {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    border: solid 1px #FFFFFF30;
    border-radius: 5px;
    background-color:  #26426460;
    backdrop-filter: blur(10px);
}

.UserLiftItem_svgIcon > path {
    fill: #FFFFFF
}

.UserLiftItem_text {
    font-size: 0.8rem;
}