.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.logoPlaceholder:hover {
    cursor: pointer;
}

.NonAuthNavButtons {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
}

.NonAuthNavButtons_navbutton:hover {
    cursor: pointer;
}