.Navbar {
    display: flex;
    justify-content: space-between;
}

.logoPlaceholder:hover {
    cursor: pointer;
}

.NonAuthNavButtons {
    list-style-type: none;
    display: flex;
    column-gap: 1em;
}

.NonAuthNavButtons_navbutton:hover {
    cursor: pointer;
}