.NavButtons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.NavButtons_button {
    padding: 0.5rem 0;
    color: #FFFFFF;
}

.NavButtons_button:hover {
    cursor: pointer;
    background-color: blue;
}

.NavButtons_active {
    background-color: blue;
}

.NavButtons_icon {
    width: 1.5rem;
    fill: #FFFFFF;
    height: auto;
}