.NavButtons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #264264;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.NavButtons_button {
    padding: 0.5rem 0;
    color: #FFFFFF;
    border: none;
}

.NavButtons_button:hover {
    cursor: pointer;
}

.NavButtons_button:hover > .NavButtons_icon,
.NavButtons_button:hover > p {
    fill:  #fcdb2d;
    color:  #fcdb2d;
}

.NavButtons_active > .NavButtons_icon,
.NavButtons_active > p {
    fill:  #fcdb2d;
    color:  #fcdb2d;
}

.NavButtons_icon {
    width: 1.5rem;
    fill: #FFFFFF;
    height: auto;
}